#writerBlock {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#titleInput {
  font-size: 3rem;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 2rem;
  width: 100%;
}

.ql-editor {
  padding: 0;
  min-height: 320px;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: white;
}

.ql-editor.ql-blank::before {
  left: 0px;
}
