#writerBlock {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#titleInput {
  font-size: 3rem;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 2rem;
  width: 100%;
}

#editor {
  font-size: 14px;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 2rem;
  width: 100%;
  height: 10rem;
}
